nav{
  display: flex;
  justify-content: space-between;
}

nav ul{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

button{
  background-color: blue;
  color: white;
}

nav ul a:link,a:visited{
  color: gray;
  text-decoration: none
}